<h4>Flopchooser</h4>

<div style="margin-bottom:2rem" >
  <p>Which movie has a lower IMDB rating?</p>
  <p [hidden]="hideResult">{{result}}</p>
  <button (click)="PlayAgain()" [hidden]="hideButton" class="btn btn-primary">Play Again</button>
   
  
</div>
  
 

<div style="display:flex; justify-content:space-around">
  
  <my-movie-selector 
  (select)="selectFirst()" 
  [movie]="flops.first">
  </my-movie-selector>

  <my-movie-selector 
  (select) ="selectSecond()"
  [movie]="flops.second">
  </my-movie-selector>

</div>